body{
    background-color: #404040;
}
.big{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
.menu{
    display: flex;
    flex-wrap: wrap;
}
.menu li{
    list-style-type: none;
}
.menu li a{
    display: block;
    width: 170px;
    height: 120px;
    line-height: 120px;
    font-size: 40px;
    text-align: center;
    text-decoration: none;
    color: deepskyblue;
    margin: 10px 10px;
    background-color: black;
    border-radius: 50%;
    transition: background-color, color, .25s;
    /*box-shadow: crimson 7px 7px 10px;*/
    font-style: italic;
    font-weight: 200;
}
.menu li a:hover{
    color: crimson;
    box-shadow: deepskyblue 7px 7px 10px;
}
