body{
    background-color: #202020;
    margin: 0;
    color: deepskyblue;
}
.container{
    padding: 50px 0 50px 0;
    display: flex;
}
.accNav{
    display: flex;
}
.menu-btn{
    display: block;
    width: 112px;
    height: 30px;
    line-height: 30px;
    text-align: center;
    text-decoration: none;
    color: deepskyblue;
    margin: 20px 10px;
    background-color: #202020;
    border-radius: 50%;
    box-shadow: deepskyblue -7px -6px 5px;
    transition: background-color, color, .25s;
    font-style: italic;
}
.menu-btn:hover{
    color: yellow;
    box-shadow: yellow 7px 6px 5px;
}
#result{
    color: deepskyblue;
}
input, select, #feedback-text{
    background-color: #202020;
    color: deepskyblue;
    border: 1px inset yellow;
    outline: none;
    font-style: italic;
    border-radius: 5px;

    font-weight: bold;
}
input[name="submit"]{
    min-width: 10%;
    justify-content: center;
    border: 3px inset yellow;
    font-weight: bold;
    transition: border-color, .2s;
}
input[name="submit"]:hover{
    border-color: deepskyblue;
}
input[type="submit"]{
    justify-content: center;
    transition: border-color, .2s;
}
input[type="submit"]:hover{
    cursor: pointer;
    border-color: deepskyblue;
}
.text-area{
    display: flex;
}
#feedback-text{
    width: 100%;
    min-width: 160px;
    height: 100px;
    resize: none;
}
#form-legend{
    color: deepskyblue;
}
.fieldset{
    border-color: yellow;
    width: 460px;
    border-style: inset;
    border-radius: 20px;
    height: 200px;
}
label{
    color: deepskyblue;
}
#feedback-form{
    display: flex;
    margin-bottom: 50px;
}
#feedback{
    width: 100%;
}
.feedback-list{
    margin: 0 auto;
    color: yellow;
}
.feedback-item{
    width: 500px;
    margin: 15px;
}
.feedback-item:not(:first-child){
    border-top: 1px dashed yellow;
    /*border-radius: 5%;*/
}


/*task4*/


.gallery{
    display: flex;
    flex-wrap: wrap;
    margin: 0 auto;
    width: 85vw;
}
.image{
    margin: 15px;
}
.image:hover{
    box-shadow: 8px 8px 5px rgba(0, 0, 0, 0.562);
}
.gallery img{
    width: calc(200px - 10%);
    height: calc(120px - 10%);
    transition: .2s;
    border: 3px solid black;
    box-shadow: 8px 8px 5px rgba(0, 0, 0, 0.562);
}
.gallery img:hover{
    width: 200px;
    height: 130px;
}
.image:hover{
    box-shadow: 8px 8px 5px rgba(0, 0, 0, 0.562);
}
.gallery a{
    width: 186px;
    height: 106px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.single-img-info{
    color: deepskyblue;
    box-shadow: 0 0 30px 5px deepskyblue;
    margin: 0 auto;
    padding: 10px;
    display: flex;
}
.single-img-info a{
    transition: color, .2s;
    display: flex;
    text-decoration: none;
}
.single-img-info img{
    border: none;
}
.description{
    padding-left: 15px;
}
.cart{
    display: block;
    position: absolute;
    top: 20px;
    right: 30px;
    text-align: center;
}
.cart-item img{
    width: 70px;
}