body{
    background: #f8f8f8;
}
.menu{
    float: right;    
}
.menu li{
    display: inline-block;
    padding: 20px 15px;
    
}
.menu li a{
    text-decoration: none;
    font-style: italic;
    font-variant: small-caps;
    color: rgb(255, 230, 0);
    font-size: 25px;
}
.menu li a:hover{
    color: rgb(0, 255, 128);
    font-weight: bold;
}
h3{
    color: black;
    font-size: 18px;
    font-weight: 400;
    background-color: #eaeaea;
}
.shortdes{
    color: #707070;
    font-size: 14px;
    font-style: italic;
    line-height: 16px;
}
.shortdes::first-letter{
    font-size: 22px;
    color: rebeccapurple;
    font-weight: bold;
    font-style: italic;
}
.detaildes{
    color: #484343;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    text-align: left; 
}
.detaildes::first-letter{
    font-size: 22px;
    color: rebeccapurple;
    font-weight: bold;
    font-style: italic;
}
.characteristics{
    color: rgb(109, 44, 0);
    font-size: 20px;
    font-style: italic;
    font-weight: bold;
    list-style-image: url("../pic/book.jpg")
}
.field{
    font-family: 'Times New Roman', Times, serif;
    height: 15px;
    width: 155px;
    color: #707070;
    font-size: 15px;
    font-style: italic;
}
.bord{
    border: 12px ridge rgb(78, 31, 0);
}
.bord:hover{
    border-color: rgba(78, 31, 0, 0);
}
.button{
    color: white;
    background-color: rgb(109, 44, 0);
    text-decoration: none;
    display: block;
    height: 30px;
    width: 60px;
    text-align: center;
    line-height: 30px;
    border-radius: 50%;
}
input[type="email"]:focus{
    background: rgb(78, 31, 0);
    color: yellow;
}
input{
    text-transform: capitalize;
}
.tablestyle{
    border-collapse: collapse;
}
.tablestyle td{
    border: 1px solid black;
}
.container{
    margin: 0 auto;
    width: 800px;
}
.footer{
    background:url(../pic/menu-background.png);
    height: 50px;
    color: black;
    text-align: right;
    padding: 10px;
    font-weight: bold;
}
.header{
    height: 125px;
    position: relative;
    background-image: url(../pic/menu-background.png);
}
.header-logo{
    position: absolute;
    margin: 10px;
}
.name{
    position: absolute;
    top: 35px;
    left: 170px;
    font-size: 25px;
    font-style: italic;
    font-weight: bold;
}
.imgdes{
    background-color: #f8f8f8;
    width: 100%;
    float: left;
    margin-bottom: 20px;
}
.img{
    width: 35%;
    float: left;
    
}
.des{
    width: 60%;
    float: right;
}
.shortdesname{
    margin-top: 0px;
}
.buttbuy{
    color: black;
    background-color: rgb(115, 255, 0);
    text-decoration: none;
    display: block;
    height: 30px;
    width: 60px;
    text-align: center;
    line-height: 30px;
    font-weight: bold;
    float: right;
}
.buttbuy:hover{
    border-radius: 50%;
}
.buttbuy:active{
    background: orangered;
}
.goods{
    width: 100%;
    float: left;
}
.goodsunit{
    width: 30%;
    float: left;
    margin-right: 10px;
    margin-bottom: 15px;
}